# MacBook Pro
.DS_Store
.Trash/
.bash_history
.cache/
.composer/
.config/
.cups/
.dbgpavim.trace
.dbshell
.fontconfig/
.gem/
.geeknote/
.gitk
.histfile
.inkscape-etc/
.lesshst
.oh-my-zsh/
.openshift/
.node-gyp/
.npm/
.pearrc
.pip/
.rbenv/
.s3cfg
.ssh/
.subversion/
.vagrant.d/
.vim/
.vim_mru_files
.vimbackup/
.viminfo
.vimrc
.vimswap/
.vimundo/
.w3m/
.wireshark*
.zcompdump
.zshrc.zni
.z*history*
.zprezto/
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
bin/
.pentadactyl/
.CFUserTextEncoding
.dropbox*
.dvdcss/
Dropbox/
.mplayer/
.serverauth.18267
.vnc/
.zcompcache/
.zlogin
.zlogout
.zpreztorc
.zprofile
.zshenv
.zshrc

# iMac
.Xauthority
.appcfg_cookies
.appcfg_oauth2_tokens
#.bash_aliases
.bash_history
#.bash_profile
#.bashrc
.byobu
#.byoburc
.cache
.coffee_history
.composer
.config
.cups
.dbgpavim.trace
.evervim
.fontconfig
.gem
.gist-vim
#.git
#.gitconfig
#.gitignore
.gitk
.gnome2
.guard_history
.htoprc
.inkscape-etc
.lesshst
.links
.local
.mysql_history
.node-gyp
.npm
#.oh-my-zsh
.pearrc
.php_history
.pip
.rnd
#.screenrc
.sdedit.conf
.sh_history
#.slate
.ssh
.subversion
.vagrant.d
.vim
.vim_mru_files
.vimbackup
.viminfo
.vimrc
.vimswap
.vimundo
.vimviews
.zcompdump*
.zsh-update
.zsh_history
.zshrc
Applications
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
Pictures
Public
Sites
VirtualBox VMs
_inputrc.html
_inputrc.txt
_my.cnf.html
_my.cnf.txt
_slate
arrayTest.coffee
arrayTest.js
bin
chai.js
coffee-script.js
default.slate.html
default.slate.txt
dotSlate
eventTest.coffee
eventTest.js
gitconfig
helloTest.coffee
helloTest.js
mainTest.coffee
node_modules
powerline
powerline-fonts
project-north.js
sampleTest.coffee
sampleTest.js
slate.coffee
slate.js
slate.map
slate2
synergy.conf
|slate
*.ova
