.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cache/
.composer/
.config/
.cups/
.dbgpavim.trace
.fontconfig/
.gem/
.gitk
.histfile
.inkscape-etc/
.lesshst
.node-gyp/
.npm/
.pearrc
.pip/
.rbenv/
.s3cfg
.ssh/
.subversion/
.vagrant.d/
.vim/
.vim_mru_files
.vimbackup/
.viminfo
.vimrc
.vimswap/
.vimundo/
.zcompdump
.zshrc.zni
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
bin/
